* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

body {
    background-color: #ffeedf;
}

#root {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    column-gap: 62px;
    margin: auto;
}

#root div.main {
    width: 290px;
    height: 416px;
    padding: 27px;
    background-color: #fff;
    column-gap: 62px;
}

.main h2 {
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
    color: #33793f;
    font-size: 48px;
    text-transform: capitalize;
}

.main h6 {
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.main p {
    display: flex;
    flex-direction: column;
}

.main p span.address{
    padding-bottom: 30px;
    font-family: 'EB Garamond', serif;
    color: #999;
    font-size: 24px;
}

